In [10]:
import pandas as pd

In [11]:
df = pd.read_csv("January2015toMarch2025.csv")

C:\Users\Courtney\AppData\Local\Temp\ipykernel_6268\2423314051.py:1: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("January2015toMarch2025.csv")

In [12]:
df.head()

,ID,UPA,EventDate,Employer,Address1,Address2,City,State,Zip,Latitude,...,NatureTitle,Part of Body,Part of Body Title,Event,EventTitle,Source,SourceTitle,Secondary Source,Secondary Source Title,FederalState
0,2015010015,931176,1/1/2015,FCI Otisville Federal Correctional Institution,Two Mile Drive,NaN,OTISVILLE,NEW YORK,10963.0,41.46,...,Fractures,513,Lower leg(s),1214,Injured by physical contact with person while ...,5721,Co-worker,5772.0,Inmate or detainee in custody,1
1,2015010016,930267,1/1/2015,Kalahari Manufacturing LLC,171 Progress Drive,NaN,LAKE DELTON,WISCONSIN,53940.0,43.59,...,Second degree heat (thermal) burns,519,"Leg(s), n.e.c.",317,"Ignition of vapors, gases, or liquids",7261,"Welding, cutting, and blow torches",NaN,NaN,1
2,2015010018,929823,1/1/2015,Schneider National Bulk Carrier,420 CORAOPOLIS ROAD,NaN,CORAOPOLIS,PENNSYLVANIA,15108.0,40.49,...,"Traumatic injuries and disorders, unspecified",9999,Nonclassifiable,4331,Other fall to lower level less than 6 feet,8421,"Semi, tractor-trailer, tanker truck",741.0,Ladders-fixed,1
3,2015010019,929711,1/1/2015,PEPSI BOTTLING GROUP INC.,4541 HOUSTON AVE.,NaN,MACON,GEORGIA,31206.0,32.77,...,"Soreness, pain, hurt-nonspecified injury",510,"Leg(s), unspecified",640,Caught in or compressed by equipment or object...,8623,Pallet jack-powered,8420.0,"Truck-motorized freight hauling and utility, u...",1
4,2015010020,929642,1/1/2015,North American Pipe Corporation,210 South Arch Street,NaN,JANESVILLE,WISCONSIN,53545.0,42.67,...,Fractures,4429,"Finger(s), fingernail(s), n.e.c.",6411,Caught in running equipment or machinery durin...,350,"Metal, woodworking, and special material machi...",NaN,NaN,1

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99601 entries, 0 to 99600
Data columns (total 28 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID                      99601 non-null  int64
 1   UPA                     99601 non-null  int64
 2   EventDate               99601 non-null  object
 3   Employer                99601 non-null  object
 4   Address1                99583 non-null  object
 5   Address2                8834 non-null   object
 6   City                    99584 non-null  object
 7   State                   99601 non-null  object
 8   Zip                     99577 non-null  float64
 9   Latitude                99487 non-null  float64
 10  Longitude               99487 non-null  float64
 11  Primary NAICS           99599 non-null  object
 12  Hospitalized            99601 non-null  int64
 13  Amputation              99594 non-null  float64
 14  Loss of Eye             99596 non-null  float64
 15  Inspection              33651 non-null  float64
 16  Final Narrative         99601 non-null  object
 17  Nature                  99601 non-null  int64
 18  NatureTitle             99601 non-null  object
 19  Part of Body            99601 non-null  int64
 20  Part of Body Title      99601 non-null  object
 21  Event                   99601 non-null  int64
 22  EventTitle              99601 non-null  object
 23  Source                  99601 non-null  int64
 24  SourceTitle             99601 non-null  object
 25  Secondary Source        44203 non-null  float64
 26  Secondary Source Title  44203 non-null  object
 27  FederalState            99601 non-null  int64
dtypes: float64(7), int64(8), object(13)
memory usage: 21.3+ MB

In [15]:
df.shape

(99601, 28)

In [18]:
df.value_counts()

ID           UPA      EventDate   Employer                     Address1                                            Address2                                                                        City           State          Zip      Latitude  Longitude  Primary NAICS  Hospitalized  Amputation  Loss of Eye  Inspection  Final Narrative                                                                                                                                                                                                                                                                                                                                                                                                           Nature  NatureTitle                                                               Part of Body  Part of Body Title                               Event  EventTitle                                                                   Source  SourceTitle                              Secondary Source  Secondary Source Title                          FederalState
2015010139   930478   1/6/2015    Strata Concrete Corporation  Highway 23 to 89th Avenue South 2.3 miles           Gold Star Site                                                                  NEW TOWN       NORTH DAKOTA   58763.0  47.99     -102.49    237310         1             0.0         0.0          1018991.0   An employee sustained battery acid burns to the face while attempting to start an air compressor on the back of a service vehicle by boosting the battery with jumper cables.                                                                                                                                                                                                                                             1510    Chemical burns and corrosions, unspecified                                130           Face, unspecified                                5544   Exposure through intact skin, eyes, or other exposed tissue                  1115    Sulfuric acid                            3991.0            Air compressors                                 1               1
2015010204   933844   1/21/2015   HEETER CONSTRUCTION INC.     Bluestone Dam                                       19846 South State Route 20                                                      HINTON         WEST VIRGINIA  25951.0  37.72     -80.98     236210         1             0.0         0.0          1021352.0   On January 21, 2015, a tag line became entangled around an A-frame metal beam weighing approximately 1400 lb., causing the beam to fall against the leg(s) of a worker. The worker suffered fractures of the right lower leg and was hospitalized.                                                                                                                                                                        111     Fractures                                                                 513           Lower leg(s)                                     6230   Struck by falling object or equipment, unspecified                           4133    Beams-unattached metal                   4229.0            Ropes, ties, chains, n.e.c.                     1               1
2015010309   931164   1/9/2015    Capital Steel and Iron       SW 15th and Agnew                                   Site EE Superviosr Ulyssses Alonzo                                              OKLAHOMA CITY  OKLAHOMA       73108.0  35.44     -97.56     238120         1             0.0         0.0          1019419.0   A propane-powered space heater was used inside the cab of an elevated crane during workplace operations. The space heater leaked, resulting in an explosion and fire. The employee who was trapped inside the cab sustained burns to the face and hands.                                                                                                                                                                  1520    Heat (thermal) burns, unspecified                                         899           Multiple body parts, n.e.c.                      317    Ignition of vapors, gases, or liquids                                        1643    Propane                                  3430.0            Cranes, unspecified                             1               1
2015010393   931820   1/12/2015   Chancellor, Inc.             Entergy Willow Glenn 500 KV Substation              2605 Hwy, LA 75                                                                 SAINT GABRIEL  LOUISIANA      70776.0  30.28     -91.09     237130         1             0.0         0.0          1017766.0   Employee was testing a meter with an 8-ft shotgun stick in an energized zone and encountered an arc flash. This incident occurred at approximately 8:00 AM on January 12, 2015. The employee was hospitalized with 2nd and 3rd degree burns. The employee was authorized to be in the energized zone and was wearing flame retardant clothing, a hard hat, safety glasses and a high-visibility vest.                     1533    Third or fourth degree electrical burns                                   9999          Nonclassifiable                                  5112   Direct exposure to electricity, greater than 220 volts                       7199    Handtools-nonpowered, n.e.c.             4417.0            Switchboards, switches, fuses                   1               1
2015010597   933114   1/19/2015   Zeco Equipment, LLC          Longitude 48.06.00 North /Latitude 102.28.042 West  South of Stanley, North Dakota                                                  STANLEY        NORTH DAKOTA   58784.0  48.34     -102.39    213112         1             0.0         0.0          1022000.0   An employee suffered a back injury when a hopper that was being lifted by a forklift fell on the employee.                                                                                                                                                                                                                                                                                                                1972    Soreness, pain, hurt-nonspecified injury                                  320           Back, including spine, spinal cord, unspecified  6233   Struck by object falling from vehicle or machinery-other than vehicle part   219     Containers, n.e.c.                       8621.0            Forklift, order picker, platform truck-powered  1               1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  ..
20241211760  2261127  12/20/2024  Nelson Dock and Door Inc.    Figures Toy Company                                 12826 Commodity Palce                                                           TAMPA          FLORIDA        33626.0  28.06     -82.63     811310         1             0.0         0.0          1794932.0   An employee was performing maintenance on a garage door when they fell 18 feet from an extension ladder to the ground and struck their head. The employee sustained a fractured skull.                                                                                                                                                                                                                                    124      Fractures                                                                113            Skull                                           4142    Other fall to lower level  6 to 30 feet                                     731      Extension ladders                       6624.0             Other constructed surface                      1               1
20241211812  2245572  12/22/2024  PDS Tech Commercial Inc.     Fincantieri Bay Shipbuilding                        605 North Third Avenue                                                          STURGEON BAY   WISCONSIN      54235.0  44.84     -87.38     561320         1             0.0         0.0          1795757.0   On December 22, 2024, two temporary employees were working from a combination steel scaffolding with wood planks when the scaffold collapsed. The employees fell 14-15 feet to the lower level. One employee was treated at the hospital for back pain and released. The other employee was hospitalized with six stitches over his right eye, multiple contusions, and liver lacerations.                                1230     Injuries to internal organs, major blood vessels  unspecified            3323           Liver                                           4112    Fall to lower level from collapsing structure or equipment  6 to 30 feet    6340     Scaffolds, staging  unspecified         60.0               Structures and surfaces  unspecified           1               1
20241211855  2245959  12/24/2024  Muddy Water Dredging LP      104 Bunkhouse Road                                  Barataria Bay Waterway, Grand Isle, LA: GPS Coordinates: 29/15/42 N 89/57/48 W  GRAND ISLE     LOUISIANA      70358.0  29.25     -89.97     237990         1             0.0         0.0          1795751.0   An employee was onboard a tender vessel to remove debris from the cutterhead (a drill bit 7-feet in diameter). The tender vessel was placed against the cutterhead. During debris removal the employee retrieved a saw to cut some rope and as he stepped forward to assist, his right foot was crushed between the cutterhead and vessel deck due to rising sea action. Three digits on his right foot were amputated.   1221     Amputations involving bone loss                                          542            Toes(s), toenail(s)                             2244    Fall, contact incident onboard water vehicle                                834      Cargo ship, freighter, passenger liner  991.0              Secondary source not applicable                1               1
20241211939  2247009  12/30/2024  Global Heavy Corporation     Grove City Memorial Park                            1 Pine Grove Circle                                                             GROVE CITY     PENNSYLVANIA   16127.0  41.16     -80.11     237110         1             0.0         0.0          1795698.0   An employee was in a boom lift to install PVC panels into a skylight dormer. The employee fell approximately 20 feet to the concrete ground inside the building and sustained fractures to their right ankle, tibia, fibula, and scapula, as well as head trauma, a brain bleed, two fractured ribs on the left side, and lumbar fractures. Fall protection was not worn at the time.                                     1811     Injuries to the brain, spinal cord and severe wounds, internal injuries  899            Multiple body parts  n.e.c.                     4142    Other fall to lower level  6 to 30 feet                                     3435     Hoists, lifts  scissor, telescoping     9222.0             Fall protection equipment                      1               1
20241211947  2247015  12/30/2024  Alta Equipment Group         ADM Milling Co.                                     250 Ganson Street                                                               BUFFALO        NEW YORK       14203.0  42.86     -78.87     333924         0             1.0         0.0          1795414.0   An employee was servicing a manlift when their little finger became caught in the machinery and the finger was amputated.                                                                                                                                                                                                                                                                                                 1221     Amputations involving bone loss                                          4429           Other finger(s)  n.e.c.                         652     Struck by running powered equipment  during maintenance, cleaning, testing  3435     Hoists, lifts  scissor, telescoping     991.0              Secondary source not applicable                1               1
Name: count, Length: 1224, dtype: int64

In [17]:
df.describe()

,ID,UPA,Zip,Latitude,Longitude,Hospitalized,Amputation,Loss of Eye,Inspection,Nature,Part of Body,Event,Source,Secondary Source,FederalState
count,9.960100e+04,9.960100e+04,99577.000000,99487.000000,99487.000000,99601.000000,99594.000000,99596.000000,3.365100e+04,99601.000000,99601.000000,99601.000000,99601.000000,44203.000000,99601.000000
mean,4.900673e+09,1.566448e+06,47313.632616,36.612649,-87.582685,0.815835,0.264424,0.000341,1.422092e+06,823.666128,2004.169295,3779.763607,4769.681961,4315.858449,0.976587
std,6.638339e+09,3.927640e+05,25054.055628,5.573549,11.900854,0.405248,0.441415,0.018473,2.243116e+05,744.739173,2475.131486,2454.644704,2923.740571,3322.399220,0.151213
min,2.015010e+09,8.674120e+05,716.000000,-34.920000,-176.620000,0.000000,0.000000,0.000000,8.371470e+05,7.000000,6.000000,20.000000,10.000000,10.000000,0.000000
25%,2.017088e+09,1.235561e+06,30313.000000,31.990000,-95.470000,1.000000,0.000000,0.000000,1.230672e+06,111.000000,310.000000,651.000000,3122.000000,990.000000,1.000000
50%,2.020099e+09,1.502985e+06,44883.000000,38.690000,-87.320000,1.000000,0.000000,0.000000,1.422675e+06,1112.000000,513.000000,4330.000000,4213.000000,3740.000000,1.000000
75%,2.024011e+09,1.912972e+06,72335.000000,41.040000,-80.530000,1.000000,1.000000,0.000000,1.610932e+06,1311.000000,4422.000000,6241.000000,7124.000000,7213.000000,1.000000
max,2.024121e+10,2.300874e+06,99926.000000,70.340000,166.640000,6.000000,2.000000,1.000000,1.822923e+06,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,1.000000

In [25]:
kentucky_hosp = df[(df["Hospitalized"] == 1) & (df["State"] == "KENTUCKY")]
kentucky_hosp.head()

,ID,UPA,EventDate,Employer,Address1,Address2,City,State,Zip,Latitude,...,NatureTitle,Part of Body,Part of Body Title,Event,EventTitle,Source,SourceTitle,Secondary Source,Secondary Source Title,FederalState
1178,2015020223,960868,2/12/2015,Ingram Barge Company,"78 RIVERSIDE DRIVE, RIVERMARK 936.5",NaN,COLUMBUS,KENTUCKY,42032.0,36.75,...,"Heat (thermal) burns, unspecified",80,"Multiple body parts, unspecified",314,Ignition of clothing from controlled heat source,9112,"Blouses, shirts, dresses, trousers, skirts",7261.0,"Welding, cutting, and blow torches",0
1534,2015020086,965423,2/26/2015,James Marine Inc.,4540 Clarks River Road,NaN,PADUCAH,KENTUCKY,42003.0,37.04,...,"Other respiratory system symptoms-toxic, noxio...",6,BODY SYSTEMS,5521,Inhalation of harmful substance-single episode,147,"Welding or soldering fumes, unspecified or n.e.c.",NaN,NaN,0
1812,2015031050,967822,3/7/2015,FEDERAL BUREAU OF PRISONS,ST. ROUTE 716,NaN,ASHLAND,KENTUCKY,41105.0,38.48,...,"Soreness, pain, hurt-nonspecified injury",84,Neck and back,4330,"Other fall to lower level, unspecified",6611,"Stairs, steps-indoors",9520.0,"Liquids, unspecified",0
2282,2015031462,971736,3/25/2015,James Marine Inc.,209 Fort Jefferson Hill Road,NaN,WICKLIFFE,KENTUCKY,42087.0,36.97,...,"Heat (thermal) burns, unspecified",510,"Leg(s), unspecified",314,Ignition of clothing from controlled heat source,9112,"Blouses, shirts, dresses, trousers, skirts",7260.0,"Welding and heating handtools-powered, unspeci...",0
4661,2015063970,994907,6/22/2015,U.S. POSTAL SERVICE,2508 Duncan St.,NaN,LOUISVILLE,KENTUCKY,40212.0,38.26,...,"Cuts, lacerations",1330,"Nose, except internal location of diseases or ...",1313,"Other animal bites, nonvenomous",5152,"Dogs, canines-domestic",NaN,NaN,0

In [32]:
kentucky_small = df.loc[
    (df["Hospitalized"] == 1) & (df["State"] == "KENTUCKY"),
    ["EventDate", "Employer", "City", "NatureTitle", "Part of Body"]
]
kentucky_small.head()

,EventDate,Employer,City,NatureTitle,Part of Body
1178,2/12/2015,Ingram Barge Company,COLUMBUS,"Heat (thermal) burns, unspecified",80
1534,2/26/2015,James Marine Inc.,PADUCAH,"Other respiratory system symptoms-toxic, noxio...",6
1812,3/7/2015,FEDERAL BUREAU OF PRISONS,ASHLAND,"Soreness, pain, hurt-nonspecified injury",84
2282,3/25/2015,James Marine Inc.,WICKLIFFE,"Heat (thermal) burns, unspecified",510
4661,6/22/2015,U.S. POSTAL SERVICE,LOUISVILLE,"Cuts, lacerations",1330

In [33]:
df.iloc[0:5, 0:4]

,ID,UPA,EventDate,Employer
0,2015010015,931176,1/1/2015,FCI Otisville Federal Correctional Institution
1,2015010016,930267,1/1/2015,Kalahari Manufacturing LLC
2,2015010018,929823,1/1/2015,Schneider National Bulk Carrier
3,2015010019,929711,1/1/2015,PEPSI BOTTLING GROUP INC.
4,2015010020,929642,1/1/2015,North American Pipe Corporation

In [35]:
df_sorted_state = df.sort_values("State")
df_sorted_state.head()

,ID,UPA,EventDate,Employer,Address1,Address2,City,State,Zip,Latitude,...,NatureTitle,Part of Body,Part of Body Title,Event,EventTitle,Source,SourceTitle,Secondary Source,Secondary Source Title,FederalState
31324,2018021113,1306838,2/2/2018,American Cast Iron Pipe Company,1501 31st Ave North,NaN,BIRMINGHAM,ALABAMA,35207.0,33.54,...,Fractures,87,Upper and lower limb(s),4323,Fall through surface or existing opening 11 to...,6621,Existing floor opening,NaN,NaN,1
82753,2023054473,2033674,5/19/2023,"Ranger Environmental, Inc.",2030 State Hwy 20,NaN,DECATUR,ALABAMA,35601.0,34.61,...,"Cuts, lacerations",530,"Foot (feet), unspecified",6242,Struck by discharged object or substance,9254,Pressurized water-blast,7293.0,Power washers,1
52142,20191212758,1526016,12/11/2019,"Outokumpu Stainless USA, LLC.",1 Thyssenkrupp Drive,NaN,CALVERT,ALABAMA,36513.0,31.15,...,Fractures,52,Ankle(s),4331,Other fall to lower level less than 6 feet,8621,"Forklift, order picker, platform truck-powered",660.0,"Floors, walkways, ground surfaces, unspecified",1
90433,2024042857,2147265,4/1/2024,PACKAGING CORPORATION OF AMERICA,4585 Industrial Road,NaN,JACKSON,ALABAMA,36545.0,31.49,...,"Chemical burns, corrosions degree unspecified",899,Multiple body parts n.e.c.,5553,Exposure through intact tissue,1456,Sulfuric acid,991.0,Secondary source not applicable,1
40515,20181112061,1404141,11/26/2018,JAH Power Services,1st Alley South,NaN,BIRMINGHAM,ALABAMA,35203.0,33.52,...,Second degree electrical burns,130,"Face, unspecified",5110,"Direct exposure to electricity, unspecified",4410,"Electric parts, unspecified",NaN,NaN,1

In [41]:
state_sorted = df.sort_values(["State", "NatureTitle"])
state_sorted[["State", "NatureTitle"]].head()

         State                               NatureTitle
94120  ALABAMA   Allergic and irritant dermatitis  acute
95803  ALABAMA   Allergic and irritant dermatitis  acute
87769  ALABAMA                               Amputations
87828  ALABAMA                               Amputations
88057  ALABAMA                               Amputations

In [44]:
df = df.rename(columns={
    "Primary NAICS": "Primary_NAICS",
    "Part of Body": "Part_of_Body",
    "Part of Body Title": "Part_of_Body_Title",
    "Final Narrative": "Final_Narrative",
    "Secondary Source": "Secondary_Source",
    "Secondary Source Title": "Secondary_Source_Title"
})

In [50]:
df.columns.tolist()
df.dtypes

EventDate                  object
Employer                   object
Address1                   object
City                       object
State                      object
Zip                       float64
Latitude                  float64
Longitude                 float64
Primary_NAICS              object
Hospitalized                int64
Amputation                float64
Loss of Eye               float64
Inspection                float64
Final_Narrative            object
Nature                      int64
NatureTitle                object
Part_of_Body                int64
Part_of_Body_Title         object
Event                       int64
EventTitle                 object
Source                      int64
SourceTitle                object
Secondary_Source          float64
Secondary_Source_Title     object
dtype: object

In [53]:
df["EventDate"] = pd.to_datetime(df["EventDate"])
df["Zip"] = df["Zip"].astype("Int64")
df["Amputation"] = df["Amputation"].fillna(0).astype("Int64")
df["Loss of Eye"] = df["Loss of Eye"].fillna(0).astype("Int64")

In [56]:
df.isna().sum()

EventDate                     0
Employer                      0
Address1                     18
City                         17
State                         0
Zip                          24
Latitude                    114
Longitude                   114
Primary_NAICS                 2
Hospitalized                  0
Amputation                    0
Loss of Eye                   0
Inspection                65950
Final_Narrative               0
Nature                        0
NatureTitle                   0
Part_of_Body                  0
Part_of_Body_Title            0
Event                         0
EventTitle                    0
Source                        0
SourceTitle                   0
Secondary_Source          55398
Secondary_Source_Title    55398
dtype: int64

In [57]:
((df.isna().sum()) / len(df)) * 100

EventDate                  0.000000
Employer                   0.000000
Address1                   0.018072
City                       0.017068
State                      0.000000
Zip                        0.024096
Latitude                   0.114457
Longitude                  0.114457
Primary_NAICS              0.002008
Hospitalized               0.000000
Amputation                 0.000000
Loss of Eye                0.000000
Inspection                66.214195
Final_Narrative            0.000000
Nature                     0.000000
NatureTitle                0.000000
Part_of_Body               0.000000
Part_of_Body_Title         0.000000
Event                      0.000000
EventTitle                 0.000000
Source                     0.000000
SourceTitle                0.000000
Secondary_Source          55.619923
Secondary_Source_Title    55.619923
dtype: float64

In [61]:
df.duplicated().sum()

np.int64(0)

In [62]:
duplicates = df[df.duplicated()]
duplicates.head()

Empty DataFrame
Columns: [EventDate, Employer, Address1, City, State, Zip, Latitude, Longitude, Primary_NAICS, Hospitalized, Amputation, Loss of Eye, Inspection, Final_Narrative, Nature, NatureTitle, Part_of_Body, Part_of_Body_Title, Event, EventTitle, Source, SourceTitle, Secondary_Source, Secondary_Source_Title]
Index: []

[0 rows x 24 columns]

In [65]:
print(df["State"].value_counts().head(20))
print(df["NatureTitle"].value_counts().head(20))

State
TEXAS            16393
FLORIDA          10885
PENNSYLVANIA      7892
OHIO              7775
ILLINOIS          5981
GEORGIA           5624
NEW YORK          5007
WISCONSIN         4059
ALABAMA           3314
MISSOURI          3073
COLORADO          3044
NEW JERSEY        2508
LOUISIANA         2286
MASSACHUSETTS     2185
ARKANSAS          2151
OKLAHOMA          2143
KANSAS            1982
MISSISSIPPI       1731
NEBRASKA          1602
CONNECTICUT       1085
Name: count, dtype: int64
NatureTitle
Fractures                                                     28481
Amputations                                                   23400
Soreness, pain, hurt-nonspecified injury                       6514
Cuts, lacerations                                              4265
 Fractures                                                     4101
 Amputations, avulsions, enucleations  unspecified             1884
Intracranial injuries, unspecified                             1799
Traumatic injuries and disorders, unspecified                  1730
Heat (thermal) burns, unspecified                              1723
Crushing injuries                                              1723
Internal injuries to organs and blood vessels of the trunk     1514
Puncture wounds, except gunshot wounds                         1252
 Amputations involving bone loss                                994
Fractures and other injuries, n.e.c.                            910
Electrical burns, unspecified                                   858
Bruises, contusions                                             776
Effects of heat and light, unspecified                          709
Concussions                                                     702
Second degree heat (thermal) burns                              701
Effects of heat and light, n.e.c.                               675
Name: count, dtype: int64

In [66]:
df["Final_Narrative"].head()

0    Three correctional facility guards were escort...
1    Employee in the Machine Shop received second d...
2    A truck driver fell approximately 4 feet while...
3    An employee's leg was pinned between a truck a...
4    An employee working on the Line 6 Auto-Beller ...
Name: Final_Narrative, dtype: object